<!-- Wrap all page content here -->
<div id="wrap">
  <div class="container">
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <%= @subject.name %> <small>League of Soma</small>
                </h1>
                <h2>현재 랭킹</h2>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span6">
            <p>1등!</p>
            <%= image_tag @first_member.photo, class: "profile-image" %>
            <h2 class="center-hard"><%= @first_member.name %></h2>
        </div>
        <div class="span2">
        </div>
    </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span6">
            <p>2등!</p>
            <%= image_tag @second_member.photo, class: "profile-image" %>
            <h2 class="center-hard"><%= @second_member.name %></h2>
        </div>
        <div class="span2">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span6">
            <p>3등!</p>
            <%= image_tag @third_member.photo, class: "profile-image" %>
            <h2 class="center-hard"><%= @third_member.name %></h2>
        </div>
        <div class="span2">
        </div>
    </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /wrap -->

<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>

